ng-container{
    display: flex;
}

.area-name{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(186, 231, 203, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

