.create-column, .create-task{
    border: 1px dashed #707070;
    height: 66px;
    font-size: 19px;
    color: #979797;
    display: flex;
    align-items: center;
}

.create-task{
    width: 200px;
}

.create-column{
    width: 332px;
}

.create:hover{
    cursor: pointer;
}

i, span{
    margin-left: 10px;
}