.create-column, .create-task{
    border: 1px dashed #B8B8B8;
    font-size: 19px;
    color: #979797;
    display: flex;
    align-items: center;
}

.create-task{
    margin-top:20px;
    width: 290px;
    height: 44px;
}

.create-column{
    width: 332px;
    height: 66px;
}

.create-column:hover, .create-task:hover{
    cursor: pointer;
}

i, span{
    margin-left: 10px;
}