<div class="board">

  <h2 class=" board__titulo mt-4 mb-3">
    {{ board?.title }}
  </h2>

  <div class="row">
    <div class="col-5">
      <input-text 
        placeholder="Pesquisar"> 
      </input-text>
    </div>

    <div class="col-4">
      <filter-button 
        buttonName= "FILTRO AVANÇADO"
        (clickButton)="changeDisplayFilter()">
      </filter-button> 
    </div>       
  </div>

  <div class="area-filter mt-3" *ngIf="displayFilter">
    <div class="area-user">
      <div class="user"
        *ngFor="let member of returnTheMembersOfCard()">
        <user-icon
          class="user__icon"
          [memberName]="member.name"
          [photoURL]="member.photoURL">
        </user-icon>
        <span class="user__name"> {{ member.name }}</span>
      </div>
    </div>
  
    <div class="area-tags">
      <span class=" tag badge badge-light ml-2" 
        *ngFor="let tag of returnTagsOfCards()">
        {{ tag }}
      </span>
    </div>
  </div>

  <div
    cdkDropList
    cdkDropListOrientation="horizontal" 
    (cdkDropListDropped)="drop($event)">
 
    <div class="area-columns" cdkDropListGroup>
      <column
        cdkDrag
        *ngFor="let column of board?.columns; let i = index"
        class="column"
        [title]="column.title"
        [cards]="column.cards"
        [columns]="board?.columns.cards"
        (changeCards)="registerChanges()">
      </column>

      <create *ngIf=""
        class="create"
        title="COLUNA"
        operation="column">
      </create>

    </div>
    
  
  </div>  

</div>
